body {
    text-align: center;
    background-color: grey;
}

p {
    font-size: 20px;
}

#in-album {
    border-style: solid;
    border-radius: 50%;
    padding: 15px;
}

#image {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
}

.grid-item-left {
    text-align: right;
    padding: 10px;
}

.grid-item-right {
    text-align: left;
    padding: 10px;
}